@import '../../../variables';
.selected-file {
    background: $color-dark;
}

.fb-panel {
    overflow-y: scroll;
    overflow-x: hidden;
    height: 89vh;
}

.top-fb-panel {
    height: 8.5vh;
}

.fb-tabs {
    display: flex;
}

.fb-tab {
    padding: 10px;
}

.fb-tab-active {
    background: $color-dark;
}

.col-name {
    color: $color-accent-1;
    max-width: $col-name-width;
    min-width: $col-name-width;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.col-extension {
    color: $color-accent-2;
    max-width: $col-extension-width;
    min-width: $col-extension-width;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.col-size {
    color: $color-accent-4;
    width: $col-size-width;
}

.col-modified-at {
    color: $color-accent-3;
}

.col-name-header {
    max-width: $col-name-width;
    min-width: $col-name-width;
}

.col-extension {
    max-width: $col-extension-width;
    min-width: $col-extension-width;
}

.col-size {
    color: $color-accent-4;
    width: $col-size-width;
}

.file-table {
    >tbody>tr>td {
        white-space: nowrap;
    }
}