<div class="top-fb-panel">
  <div class="fb-tabs">
    <div *ngFor="let tab of tabs" class="fb-tab" [ngClass]="{ 'fb-tab-active' : tab.active }">{{tab.currentDirectory.name}}</div>
  </div>
  <div>
    {{currentTab.currentDirectory?.fullName}}
  </div>
  <div>
    <table>
      <tr>
        <th class="col-name-header">
          Name
        </th>
        <th class="col-extension-header">
          Extension
        </th>
        <th class="col-size-header">
          Size
        </th>
        <th class="col-modified-at-header">
          Date
        </th>
      </tr>
    </table>
  </div>
</div>
<div class="fb-panel">
  <div>
    <table class="file-table">
      <tr *ngFor="let file of currentTab.files" [ngClass]="{ 'selected-file' : file.selected }">
        <td id="file-{{file.id}}" class="col-name">
          {{file.nameWithoutExtesion}}
        </td>
        <td class="col-extension">
          {{file.extension}}
        </td>
        <td class="col-size">
          {{file.sizeInBytes}}
        </td>
        <td class="col-modified-at">
          {{file.modifiedAtString}}
        </td>
      </tr>
    </table>
  </div>
  <tc-rename-file-text-box></tc-rename-file-text-box>
</div>
<div>
  Selected 0/{{currentTab.totalFiles}} files and 0/{{currentTab.totalDirectories}} directories
</div>