$color-border:#646464;
$color-error:#F58E8E;
$color-natural:#A9D3AB;
$color-warn:#FED37E;
$color-info:#7AABD4;
$color-dark: lighten(black, 10%);
// ---------------
$color-accent-1:#80ff72;
$color-accent-2:#de3c4b;
$color-accent-3:#fff275;
$color-accent-4:#73fbd3;
// ---------------
$color-background:lighten(#2D2D2D, 5%);
$color-foreground:#D4D4D4;
// ---------------
// ---------------
$col-name-width: 50vh;
$col-extension-width:10vh;
$col-size-width:8vh;