$color-border:#646464;
$color-error:#F58E8E;
$color-natural:#A9D3AB;
$color-warn:#FED37E;
$color-info:#7AABD4;
$color-dark: lighten(black, 10%);
// ---------------
$color-accent-1:#D6ADD5;
$color-accent-2:#79D4D5;
$color-accent-3:#D4D4D4;
// ---------------
$color-background:lighten(#2D2D2D, 5%);
$color-foreground:#D4D4D4;